<%- include ('../../partials/header.ejs') %>
<%- include ('../../partials/adminNavbar.ejs') %>

<br>
<div class="container" style="background-color: #ffffff;">
    <br>
    <div class="card">
        <div class="card-header">
            <h2>Cadastro de alunos</h2>
        </div>
        <div class="card-body">
            <form method="post" id="data" target="data">
                <input type="text" class="form-control" name="name"  placeholder="Nome"><br>
                <input type="text" class="form-control" name="email" placeholder="email"><br>
                <input type="text" class="form-control" name="password" id="password" placeholder="Senha"><br>
                <input type="text" class="form-control" name="repet" id="repet" placeholder="repetir senha"><br>
                <label id="mensage" style="color: red;"></label><br><br>
                <button class="btn btn-primary" onclick="validatePassword()">Cadastrar</button>
            </form>
        </div>
    </div>
</div>

<%- include ('../../partials/footer.ejs') %>

<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<script>
    function validatePassword(){
        event.preventDefault()
        
        var password = document.getElementById('password').value
        var repet = document.getElementById('repet').value
        
        if( password == repet){
            document.getElementById('mensage').innerHTML = ''

            $.ajax({
            url: '/admin/admin/save',
            method: 'post',
            data:  $('#data').serializeArray(),
            success(res){
                window.location.replace(`/admin/admins/`)
            }
        })
        }else{
            document.getElementById('mensage').innerHTML = 'Senhas não conferem'
        }

    }
</script>