<%- include ('partials/header.ejs') %>
<%- include ('partials/homeNavbar.ejs') %>

<body>
   <div class="container">
       <hr>
       <h1>Bosta</h1>
   </div>
</body>

<%- include ('partials/footer.ejs') %>